.nada{
    color: aliceblue;
    margin-top:5%;
}
    /* From Uiverse.io by MuhammadHasann */ 
    .card {
        --white: hsl(0, 0%, 100%);
        --black: hsl(240, 15%, 9%);
        --paragraph: hsl(0, 0%, 83%);
        --line: hsl(240, 9%, 17%);
        --primary: hsl(266, 92%, 58%);
    
        position: relative;
    
        display: flex;
        flex-direction: column;
        gap: 1rem;
    
        padding: 1rem;
        width: 19rem;
        background-color: hsla(240, 15%, 9%, 1);
        background-image: radial-gradient(
            at 88% 40%,
            hsla(240, 15%, 9%, 1) 0px,
            transparent 85%
        ),
        radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
        radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
        radial-gradient(at 0% 64%, hsla(263, 93%, 56%, 1) 0px, transparent 85%),
        radial-gradient(at 41% 94%, hsla(284, 100%, 84%, 1) 0px, transparent 85%),
        radial-gradient(at 100% 99%, hsla(306, 100%, 57%, 1) 0px, transparent 85%);
    
        border-radius: 1rem;
        box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
        margin-left: 110%;
        margin-top: 10%;
    }
    
    .card .card__border {
        overflow: hidden;
        pointer-events: none;
    
        position: absolute;
        z-index: -10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        background-image: linear-gradient(
        0deg,
        hsl(0, 0%, 100%) -50%,
        hsl(0, 0%, 40%) 100%
        );
    
        border-radius: 1rem;
    }
    
    .card .card__border::before {
        content: "";
        pointer-events: none;
    
        position: fixed;
        z-index: 200;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%), rotate(0deg);
        transform-origin: left;
    
        width: 200%;
        height: 10rem;
        background-image: linear-gradient(
        0deg,
        hsla(0, 0%, 100%, 0) 0%,
        hsl(277, 95%, 60%) 40%,
        hsl(277, 95%, 60%) 60%,
        hsla(0, 0%, 40%, 0) 100%
        );
    
        animation: rotate 8s linear infinite;
    }
    
    @keyframes rotate {
        to {
        transform: rotate(360deg);
        }
    }
    
    .card .card_title__container .card_title {
        font-size: 1rem;
        color: var(--white);
    }
    
    .card .card_title__container .card_paragraph {
        margin-top: 0.25rem;
        width: 65%;
    
        font-size: 0.5rem;
        color: var(--paragraph);
    }
    
    .card .line {
        width: 100%;
        height: 0.1rem;
        background-color: var(--line);
    
        border: none;
    }
    
    .card .card__list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .card .card__list .card__list_item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    
    .card .card__list .card__list_item .check {
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 1rem;
        height: 1rem;
        background-color: var(--primary);
    
        border-radius: 50%;
    }
    
    .card .card__list .card__list_item .check .check_svg {
        width: 0.75rem;
        height: 0.75rem;
    
        fill: var(--black);
    }
    
    .card .card__list .card__list_item .list_text {
        font-size: 0.75rem;
        color: var(--white);
    }
    
    .ButtonEdit {
        cursor: pointer;
    
        padding: 0.5rem;
        width: 30%;
        margin-top: 20%;
        margin-left: 10%;
        background-image: linear-gradient(
        0deg,
        rgba(94, 58, 238, 1) 0%,
        rgba(197, 107, 240, 1) 100%
        );
    
        font-size: 0.75rem;
        color: var(--white);
    
        border: 0;
        border-radius: 9999px;
        box-shadow: inset 0 -2px 25px -4px var(--white);
    }

    .card .button {
        cursor: pointer;
    
        padding: 0.5rem;
        width: 30%;
        margin-top: -17%;
        margin-left: 45%;
        background-image: linear-gradient(
        0deg,
        rgba(94, 58, 238, 1) 0%,
        rgba(197, 107, 240, 1) 100%
        );
    
        font-size: 0.75rem;
        color: var(--white);
    
        border: 0;
        border-radius: 9999px;
        box-shadow: inset 0 -2px 25px -4px var(--white);
    }

    .ButtonEdit2 {
        cursor: pointer;
    
        padding: 0.5rem;
        width: 30%;
        margin-top: 2%;
        margin-left: 35%;
        background-image: linear-gradient(
        0deg,
        rgba(94, 58, 238, 1) 0%,
        rgba(197, 107, 240, 1) 100%
        );
    
        font-size: 0.75rem;
        color: var(--white);
    
        border: 0;
        border-radius: 9999px;
        box-shadow: inset 0 -2px 25px -4px var(--white);
    }

    .checkboxWrapper input[type="checkbox"] {
        visibility: hidden;
        display: none;
    }
    
    .checkboxWrapper *,
    .checkboxWrapper ::after,
    .checkboxWrapper ::before {
        box-sizing: border-box;
        user-select: none;
    }
    
    .checkboxWrapper {
        position: relative;
        display: block;
        overflow: hidden;
        margin-left: 75%;
        margin-top: -20.5%;
    }
    
    .checkboxWrapper .label {
        cursor: pointer;
    }
    
    .checkboxWrapper .check {
        width: 50px;
        height: 50px;
        position: absolute;
        opacity: 0;
    }
    
    .checkboxWrapper .label svg {
        vertical-align: middle;
    }
    
    .checkboxWrapper .path1 {
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        transition: 0.5s stroke-dashoffset;
        opacity: 0;
    }
    
    .checkboxWrapper .check:checked + label svg g path {
        stroke-dashoffset: 0;
        opacity: 1;
    }

    .description {
        color: #ffffffb9;
    }

    .input {
        border: none;
        outline: none;
        max-width: 100%;
        width: 100%;
        padding: 0.6em;
        padding-left: 6em;
        padding-right: 6em;
        border-radius: 20px;
        background: #fff;
        transition: background 300ms, color 300ms;
    }
    
    .input:hover,.input:focus {
        background: rgb(0, 0, 0);
        color: #fff;
    }
    
    @media (max-width: 768px) {
        .card{
            margin-left: 0%;
            position: relative;
            top: 400px; /* Inicialmente 0 */
        }

        .inputedit {
            margin-top: 400px;
        }

    }
