    .input__container {
        max-width: 200em;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: rgba(255, 255, 255, 0.3);
        padding: 60px;
        padding-left: 10%;
        padding-right: 10%;
        border-radius: 20px;
        position: absolute;
        margin-top: 9%;
        margin-left: -50%;
    }
    
    .input__container::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        filter: blur(25px);
        border-radius: 20px;
        background-color: hsl(266, 92%, 58%);
        background-image: radial-gradient(at 47% 69%, hsla(17,62%,65%,1) 0px, transparent 50%),
        radial-gradient(at 9% 32%, rgb(53, 100, 211) 0px, transparent 50%);
    }
    
    .input__label {
        display: block;
        margin-top: -10%;
        margin-left: 0.4em;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }
    
    .input {
        border: none;
        outline: none;
        width: 100%;
        padding: 0.6em;
        padding-left: 6em;
        padding-right: 6em;
        border-radius: 20px;
        background: #fff;
        transition: background 300ms, color 300ms;
    }
    
    .input:hover,.input:focus {
        background: rgb(0, 0, 0);
        color: #fff;
    }

    .button {
        cursor: pointer;

        padding: 0.5rem;
        width: 65%;
        margin-top: 3%;
        margin-left: 17%;
        background-image: linear-gradient(
        0deg,
        rgba(94, 58, 238, 1) 0%,
        rgba(197, 107, 240, 1) 100%
        );
        
        
        font-size: 0.75rem;
        color: var(--white);
    
        border: 0;
        border-radius: 9999px;
        box-shadow: inset 0 -2px 25px -4px var(--white);
    }

    .tarefas {
        display:none;
    }

    @media (max-width: 768px) {
        .input__container{
            margin-left: 0%;
        }
        
    }